---
import QuotationEngine from './QuotationEngine.jsx';
---

<section id="booking-panel" class="relative z-20 -mt-32 md:-mt-48 px-4 max-w-6xl mx-auto mb-6 md:mb-20">
    <QuotationEngine client:load />
</section>
